/* about us page */
.about_us_page {
  margin-top: 9.5rem;
}

.about_banner {
  width: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 40px;
  padding: 40px 60px;
}

.about_banner h1 {
  margin-bottom: 25px;
}

.about_banner p {
  max-width: 650px;
  color: #2e2e2e;
  font-family: "Product Sans";
  font-size: 18px;
  margin-bottom: 25px;
}

.about_icons {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
  width: max-content;
}

.about_icons::before {
  content: "";
  background-color: #fff;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  z-index: -1;
}

.about_icons span {
  width: 64px;
  height: 64px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}

.about_us_content {
  max-width: 1130px;
  margin: 50px auto 50px auto;
}

.about_us_content p {
  color: #2e2e2e;
  text-align: center;
  font-family: "Product Sans";
  font-size: 32px;
  font-weight: 700;
}

.about_details_card_1,
.about_details_card_2,
.about_details_card_3 {
  background: linear-gradient(rgba(42, 48, 114, 0.9), rgba(42, 48, 114, 0.9)),
    url("assets/about_bg_mg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  padding: 50px 50px;
  border-radius: 30px;
  height: 100%;
}

.about_details_card_1 {
  background-position: left;
}

.about_details_card_2 {
  background-position: center;
}

.about_details_card_3 {
  background-position: right;
}

.card_body h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}

.card_list {
  margin-top: 45px;
  margin-left: 20px;
}

.card_list li {
  color: #fff;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 25px;
}

.about_timeling {
  margin: 5rem 0 5rem 0;
}

.about_timeling h3 {
  color: #2e2e2e;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.abt_swiper_btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.abt_swiper_btns button {
  border-radius: 11px;
  background: #f7f7f7;
  padding: 8px 15px;
  outline: none;
  border: none;
  color: rgba(46, 46, 46, 0.5);
  font-family: "Product Sans";
  font-size: 16px;
  font-weight: 700;
}

.timeline_card {
  position: relative;
  border-radius: 20px;
  background: #f7f7f7;
  padding: 50px 40px;
  min-height: 500px;
  width: 100%;
  margin-top: 40px;
}

.timeline_card p {
  color: #2e2e2e;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 700;
}

.timeline_card .year {
  position: absolute;
  right: 5%;
  bottom: 2%;
}

.timeline_card .year span {
  color: rgba(0, 0, 0, 0.1);
  text-align: right;
  font-family: "Product Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.btn_active {
  background: #34caff !important;
  color: #fff !important;
}

/* about-us */

/* personnel */

.personel_card {
  border-radius: 20px;
  background: #2a3072;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 30px 75px;
  height: 100%;
}

.personel_card img {
  width: 90px;
}

.personel_card h4 {
  color: #fff;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 700;
}

.personel_card p {
  color: #fff;
  font-family: "Product Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 0;
}

.team_section {
  margin: 70px 0 50px 0;
}

.team_details {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 40px;
}

.team_card {
  border-radius: 20px;
  background: #f7f7f7;
  height: 100%;
  overflow: hidden;
  width: 100%;
  transition: 0.3s linear;
  position: relative;
}

.initial_info {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f7f7f7;
  transition: transform 0.5s linear;
  transform: translateY(100%);
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
}
.initial_info h2 {
  font-size: 20px;
  font-weight: 600;
  color: #2b3072;
}
.active_info {
  transition: transform 0.5s linear;
  transform: translateY(0%);
}
.close_icon_info {
  position: absolute;
  z-index: 3;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  animation: cssAnimation 0s 0.7s forwards;
  opacity: 0;
}

@keyframes cssAnimation {
  to {
    opacity: 1;
  }
}
.team_card_body {
  transition: 0.5s linear;
}
.nmmmi-x {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left-i_c {
  background-color: #2a3072;
  width: 36px;
  text-align: center;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 30px;
}
.initial_info ul {
  padding: 20px 0px 0px 21px;
  margin: 0px;
  list-style: none;
}
.initial_info ul li {
  position: relative;
  font-size: 18px;
  padding-bottom: 12px;
}
.initial_info ul li:before {
  content: "";
  position: absolute;
  left: -21px;
  right: 0;
  top: 8px;
  bottom: 0;
  background: #68c3ea;
  height: 10px;
  width: 10px;
  border-radius: 20px;
}
.team_card img {
  width: 322px;
  height: 322px;
  transform: scale(1);
  transition: transform 0.3s;
  margin: auto;
  display: block;
}

.over_hid {
  overflow: hidden;
}

.member_details {
  padding: 23px 25px 30px 25px;
}

.member_details h3 {
  color: #2e2e2e;
  font-family: "Product Sans";
  font-size: 24px;
  font-weight: 700;
  transition: color 0.3s;
  text-transform: capitalize;
}

.member_details p {
  margin-bottom: 10px;
  color: #666;
  font-family: "Product Sans";
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.member_details ul {
  display: flex;
  list-style: none;
  gap: 15px;
  margin-top: 15px;
}

.member_details ul li {
  background-color: #666;
  padding: 9px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s linear;
}

.member_details ul li:hover {
  background-color: #2a3072;
}

.member_details ul li svg {
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 0;
}

.team_card:hover img {
  /* transform: scale(1.1); */
}

.team_card:hover h3 {
  color: #2a3072;
}

/* personnel */

/* operating philosophy */

.operat_banner {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-start !important;
  gap: 70px;
  border-radius: 20px !important;
}

.operat_banner h1 {
  line-height: 60px !important;
  color: #fff !important;
}

.operat_banner p {
  max-width: 930px !important;
  font-size: 32px !important;
  line-height: 50px !important;
  color: #fff !important;
  margin-bottom: 0;
}

.operating_content p {
  margin: 50px auto 90px auto;
  text-align: center;
  max-width: 1320px;
  color: #666;
  font-family: "Product Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
}

.operating_diagram {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.outer_diagram {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border-image-slice: 110;
  border-image-width: 100px;
  border-image-source: url("../assets/circle_border.png"); */
  margin-top: 4em;
}

.inner_circle {
  width: 316px;
  height: 316px;
  background-color: #34caff;
  border-radius: 50%;
  bottom: 11.5%;
  position: relative;
  right: 15px;
}
.outer__circle {
  width: 252px;
  height: 160px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
}
.circle_1:hover {
  fill: #34caff;
}

/* .outer__circle:hover {
  background-color: #34caff;
} */

.circle_1 {
  top: -22px;
  transform: translate(0%, -50%);
  left: 34.1%;
  width: 256px;
  height: 174px;
}

.circle_2 {
  top: -1px;
  right: 21px;
  left: auto;
  width: 179px;
  height: 220px;
}
.circle_3 {
  top: 38%;
  right: -11px;
  left: auto;
  width: 160px;
  height: 209px;
}

.circle_4 {
  bottom: 6%;
  right: 0px;
  transform: translate(-50%, 0%);
  width: 252px;
  height: 209px;
}
.circle_5 {
  top: auto;
  left: 22.9%;
  transform: translate(-50%, 0%);
  width: 234px;
  height: 209px;
  bottom: 8%;
}
.circle_6 {
  left: -43px;
  bottom: 43.3%;
  width: 162px;
  height: 209px;
}
.circle_7 {
  left: 8px;
  top: -9%;
  width: 204px;
  height: 204px;
  z-index: 0;
}
.inner_circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_circle p {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: "Product Sans";
  font-size: 17px;
  max-width: 315px;
  padding: 0 15px;
  line-height: 25px;
}

.inner_hover_content h3 {
  text-align: center;
  color: #fff;
  font-size: 25px !important;
  line-height: 25px !important;
  margin-bottom: 18px;
}
.inner_hover_content p {
  font-size: 16px !important;
  line-height: 28px !important;
}
.outer__circle img {
  width: 100%;
}

@media only screen and (min-width: 1921px) {
  .outer_diagram {
    width: 810px;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 4em;
  }
  .inner_circle {
    width: 400px;
    height: 400px;
    background-color: #34caff;
    border-radius: 50%;
    bottom: 15%;
    position: relative;
    right: 0;
  }
  .circle_1 {
    top: -32px;
    transform: translate(0%, -50%);
    left: 36.8%;
    width: 336px;
    height: 208px;
  }
  .circle_2 {
    top: -14px;
    right: 38px;
    left: auto;
    width: 220px;
    height: 289px;
  }
  .circle_3 {
    top: 31%;
    right: -5px;
    left: auto;
    width: 205px;
    height: 317px;
  }
  .circle_4 {
    bottom: 17%;
    right: 12px;
    transform: translate(-50%, 0%);
    width: 310px;
    height: 201px;
  }
  .circle_5 {
    top: auto;
    left: 27.9%;
    transform: translate(-50%, 0%);
    width: 324px;
    height: 227px;
    bottom: 17.5%;
  }
  .circle_6 {
    left: -5px;
    bottom: 44.8%;
    width: 204px;
    height: 312px;
  }
  .circle_7 {
    left: 51px;
    top: -10.8%;
    width: 270px;
    height: 284px;
    z-index: 0;
  }
  .inner_circle p {
    font-size: 23px;
    max-width: 337px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 1600px) {
  .about_banner {
    padding: 36px 52px;
  }

  .about_banner h1 {
    margin-bottom: 20px;
  }

  .about_banner p {
    font-size: 17px;
  }

  .about_icons span {
    width: 58px;
    height: 58px;
  }

  .about_us_page {
    margin-top: 8.5rem;
  }

  .about_us_content {
    margin: 40px auto 40px auto;
  }

  .about_us_content p {
    font-size: 30px;
  }

  .about_details_card_1,
  .about_details_card_2,
  .about_details_card_3 {
    padding: 40px 40px;
  }

  .card_body img {
    height: 20px;
    width: 20px;
  }

  .card_body img {
    height: 70px;
    width: 70px;
  }

  .card_body h4 {
    font-size: 22px;
    margin-top: 30px;
  }

  .card_list {
    margin-top: 35px;
  }

  .card_list li {
    font-size: 17px;
    margin-top: 21px;
  }

  .card_list {
    margin-top: 26px;
  }

  .personel_card {
    gap: 25px;
    padding: 24px 64px;
  }

  .team_section {
    margin: 65px 0 45px 0;
  }

  .team_details {
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-gap: 30px;
  }

  .member_details {
    padding: 20px 23px 27px 23px;
  }

  .member_details h3 {
    font-size: 22px;
  }

  .operat_banner {
    gap: 50px;
  }

  .operat_banner p {
    max-width: 829px !important;
    font-size: 29px !important;
    line-height: 45px !important;
  }

  .operating_content p {
    margin: 45px auto 80px auto;
    font-size: 22px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 1400px) {
  .about_us_page {
    margin-top: 7.5rem;
  }

  .about_banner h1 {
    margin-bottom: 15px;
  }

  .about_banner p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .about_banner {
    padding: 33px 40px;
  }

  .about_icons span {
    width: 50px;
    height: 50px;
  }

  .about_icons span img {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .about_us_content {
    margin: 30px auto 30px auto;
  }

  .about_us_content p {
    font-size: 26px;
  }

  .about_details_card_1,
  .about_details_card_2,
  .about_details_card_3 {
    padding: 32px 32px;
  }

  .card_body img {
    height: 60px;
    width: 60px;
  }

  .card_body h4 {
    font-size: 20px;
    margin-top: 26px;
  }

  .personel_card {
    gap: 20px;
    padding: 24px 32px;
  }

  .personel_card img {
    width: 70px;
  }

  .team_section {
    margin: 55px 0 40px 0;
  }

  .member_details {
    padding: 17px 20px 13px 20px;
  }

  .member_details h3 {
    font-size: 20px;
  }

  .member_details p {
    font-size: 15px;
  }

  .team_details {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 25px;
  }

  .member_details ul li svg {
    width: 23px;
    height: 23px;
  }

  .member_details ul {
    margin-top: 10px;
    gap: 12px;
  }

  .member_details ul li {
    padding: 6px;
    border-radius: 39px;
  }

  .operat_banner {
    gap: 40px;
  }

  .operat_banner p {
    max-width: 700px !important;
    font-size: 26px !important;
    line-height: 42px !important;
  }

  .operating_content p {
    margin: 40px auto 70px auto;
    font-size: 20px;
    line-height: 32px;
    max-width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .about_us_page {
    margin-top: 6.5rem;
  }

  .about_banner {
    padding: 27px 31px;
  }

  .about_banner h1 {
    margin-bottom: 12px;
  }

  .about_banner p {
    max-width: 500px;
  }

  .about_us_content p {
    font-size: 23px;
  }

  .about_details_card_1,
  .about_details_card_2,
  .about_details_card_3 {
    padding: 25px 25px;
  }

  .card_body img {
    height: 50px;
    width: 50px;
  }

  .card_body h4 {
    margin-top: 26px;
  }

  .card_list {
    margin-top: 20px;
  }

  .card_list li {
    font-size: 15px;
    margin-top: 17px;
  }

  .personel_card {
    gap: 16px;
    padding: 18px 23px;
  }

  .personel_card h4 {
    font-size: 17px;
  }

  .personel_card img {
    width: 50px;
  }

  .member_details {
    padding: 14px 17px 14px 17px;
  }

  .member_details h3 {
    font-size: 18px;
  }

  .operat_banner h1 {
    max-width: 219px !important;
  }

  .operat_banner p {
    font-size: 23px !important;
    line-height: 38px !important;
  }

  .operating_content p {
    margin: 35px auto 60px auto;
    font-size: 18px;
    line-height: 28px;
    max-width: 930px;
  }
}

@media only screen and (max-width: 991px) {
  .about_us_content {
    margin: 25px auto 25px auto;
  }

  .about_us_content p {
    font-size: 20px;
  }

  .about_details_card_3 {
    margin-top: 20px;
  }

  .card_list li {
    font-size: 15px;
    margin-top: 16px;
  }

  .card_body h4 {
    margin-top: 20px;
  }

  .card_list {
    margin-top: 24px;
  }

  .card_list li {
    font-size: 15px;
    margin-top: 15px;
  }

  .row-gp {
    row-gap: 10px;
  }

  .team_section {
    margin: 40px 0 35px 0;
  }

  .operat_banner {
    gap: 30px;
  }

  .operat_banner p {
    font-size: 20px !important;
    line-height: 35px !important;
  }

  .operating_content p {
    margin: 30px auto 48px auto;
    font-size: 17px;
    line-height: 25px;
    max-width: 733px;
  }
}

@media only screen and (max-width: 767px) {
  .about_banner {
    padding: 23px 26px;
  }

  .about_banner h1 {
    margin-bottom: 10px;
  }

  .about_banner p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .about_icons span {
    width: 43px;
    height: 43px;
  }

  .about_us_content {
    margin: 20px auto 20px auto;
  }

  .about_us_content p {
    font-size: 18px;
  }

  .card_body img {
    height: 45px;
    width: 45px;
  }

  .card_body h4 {
    font-size: 18px;
    margin-top: 24px;
  }

  .card_list {
    margin-top: 20px;
  }

  .card_list li {
    font-size: 15px;
    margin-top: 13px;
  }

  .personel_card {
    gap: 16px;
    padding: 14px 19px;
  }

  .personel_card p {
    font-size: 15px;
    line-height: 22px;
  }

  .team_section {
    margin: 35px 0 30px 0;
  }

  .operat_banner h1 {
    line-height: 49px !important;
  }

  .operat_banner p {
    font-size: 17px !important;
    line-height: 30px !important;
  }

  .operating_content p {
    margin: 25px auto 40px auto;
    font-size: 16px;
    line-height: 23px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 645px) {
  .operat_banner {
    flex-direction: column !important;
    align-items: baseline;
  }

  .operat_banner h1 {
    max-width: 100% !important;
  }

  .operat_banner {
    gap: 0px;
    justify-content: center !important;
  }
  .outer_diagram {
    width: 314px;
    height: 314px;
    position: relative;
    left: 15px;
  }
  .inner_circle {
    width: 166px;
    height: 166px;
    bottom: 33px;
    right: 14px;
  }
  .inner_circle p {
    font-size: 10px;
    max-width: 192px;
    padding: 0 15px;
    line-height: 12px;
  }
  .circle_1 {
    width: 136px;
    height: 87px;
    top: -8px;
    transform: translate(0%, -50%);
    left: 31%;
    z-index: 1;
  }
  .circle_2 {
    top: -1%;
    right: 15px;
    left: auto;
    width: 96px;
    height: 125px;
    z-index: 2;
  }
  .circle_3 {
    top: 30.9%;
    right: -4px;
    left: auto;
    width: 87px;
    height: 163px;
    z-index: 3;
  }
  .circle_4 {
    bottom: 8%;
    right: 1%;
    transform: translate(-50%, 0%);
    width: 134px;
    height: 88px;
    z-index: 4;
  }
  .circle_5 {
    top: auto;
    left: 21%;
    transform: translate(-50%, 0%);
    width: 124px;
    height: 96px;
    bottom: 9%;
    z-index: 5;
  }
  .circle_6 {
    left: -30px;
    top: 20%;
    width: 84px;
    height: 129px;
  }
  .circle_7 {
    left: -1.3%;
    top: -7.8%;
    width: 110px;
    height: 107px;
  }
}

@media only screen and (max-width: 575px) {
  .about_us_page {
    margin-top: 6rem;
  }

  .about_banner {
    padding: 20px 22px;
  }

  .about_banner p {
    font-size: 14px;
  }

  .about_us_content p {
    font-size: 16px;
  }

  .card_body img {
    height: 40px;
    width: 40px;
  }

  .about_details_card_1,
  .about_details_card_2,
  .about_details_card_3 {
    padding: 20px 20px;
  }

  .card_body h4 {
    font-size: 16px;
    margin-top: 18px;
  }

  .card_list {
    margin-top: 15px;
  }

  .card_list li {
    font-size: 14px;
    margin-top: 13px;
  }

  .about_details_card_2 {
    margin-top: 15px;
    height: auto;
  }

  .about_details_card_3 {
    margin-top: 15px;
    height: auto;
  }

  .personel_card h4 {
    font-size: 16px;
  }

  .personel_card p {
    font-size: 14px;
  }

  .member_details h3 {
    font-size: 16px;
  }

  .member_details p {
    font-size: 14px;
  }

  .operat_banner p {
    font-size: 15px !important;
    line-height: 24px !important;
  }

  .operat_banner h1 {
    line-height: 36px !important;
  }

  .operating_content p {
    margin: 20px auto 30px auto;
    font-size: 15px;
  }
}
