/* header */
.header {
  background-color: #fff;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 1px 0px rgb(0 0 0 / 0%), 0 2px 2px rgb(0 0 0 / 4%);
}

.page {
  margin-top: 110px;
}

.nav-colums {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
  flex: 0 40%;
}

.nav-colums img {
  height: 50px;
  width: 206px;
}

.search_input {
  width: 100%;
}

.search_input input {
  border-radius: 11px;
  border: 1px solid #d1d1d1;
  width: 100%;
  padding: 10px 14px;
  font-size: 15px;
  color: #2e2e2e;
  font-family: "Product Sans";
  font-weight: 400;
}

.search_icon {
  right: 13px !important;
  color: #2e2e2e;
}

.search_icon svg {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 1px;
}

.search_icon_md {
  display: none;
}

.nav-colums input::placeholder {
  color: #2e2e2e;
  font-family: "Product Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-right > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.nav-right-li {
  padding: 40px 0;
}

.nav-right-li span svg {
  width: 20px;
}

.nav-right > ul li a {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 17px;
  font-weight: 400;
  font-family: "Product Sans";
  display: flex;
  gap: 4px;
  transition: 0.3s;
  padding: 5px;
}

.nav-right > ul li a:hover {
  color: #34caff;
  transition: 0.3s;
}

.contact_btn {
  padding: 12px 25px;
  border-radius: 14px;
  background: #2a3072;
  color: #fff;
  font-family: "Product Sans";
  border: none;
  transition: 0.5s ease-in-out;
  font-weight: 700;
}

.contact_btn:hover {
  background: #34caff;
  color: #fff;
  /* padding-right: 42px; */
}

.hamburgur {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  z-index: 99;
}

.nav_active {
  left: 0 !important;
}

.input_none {
  display: none;
}

.close_Icon {
  position: absolute;
  z-index: 9999;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: #2e2e2e;
}

.full_input {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: none;
  z-index: 999;
}

/* dropdown */

.dropdown {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
  margin-top: 2%;
  width: 100%;
  background-color: #fff;
  box-shadow: 17px 4px 40px 0px rgba(30, 30, 30, 0.2);
  border-radius: 40px;
  overflow-x: hidden;
}

.dropdown__list {
  background: #fff;
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 40px;
  /* justify-content: space-between; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: 17px 4px 40px 0px rgba(30, 30, 30, 0.2);
  height: 0px;
}

.dropdown__list--active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  height: 100%;
  transition: 0.5s ease-out;
  max-height: 45rem;
  overflow-y: auto;
}

.dropdown__list-item {
  cursor: pointer;
  list-style: none;
  padding: 20px;
  background-color: #fff;
  color: #666;
  font-family: "Product Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 160%;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  transition: 0.3s;
  position: relative;
}

.dropdown__list a {
  justify-content: center !important;
}

.dropdown__list-item.m_xLx:after {
  content: "";
  position: absolute;
  right: 0;
  top: 26%;
  bottom: 0;
  width: 1px;
  background-color: rgb(0 0 0 / 20%);
  height: 50%;
}

/* .dropdown.vP_csPc .dropdown__list-item.m_xLx:after {
  width: 0px;
} */
.dropdown__list-item:hover {
  color: #34caff;
  transition: 0.3s;
}

.service_mega_menu .dropdown__list {
  flex-wrap: wrap;
}

.service_mega_menu .dropdown__list-item.m_xLx {
  flex: 0 20%;
}

.act_sing {
  background: #f8f8f8;
  color: #666;
  background: #f8f8f8;
  color: #666;
  font-family: "Product Sans";
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  text-transform: capitalize;
  border-radius: 10px !important;
  text-align: left !important;
}

.acc_types {
  list-style: none;
  margin-top: 20px;
}

.acc_types li {
  margin-top: 7px;
}

.acc_bg {
  border-radius: 10px !important;
  background: #f8f8f8;
  color: #666;
  font-family: "Product Sans";
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  text-transform: capitalize;
}

.acc_bg:hover {
  background: #34caff !important;
  color: #fff !important;
}

.acc_bg:hover::after {
  filter: invert(1) brightness(4);
}

.acc_bg.collapsed {
  background: #f8f8f8;
  color: #666;
}

.acc_bg:focus,
.acc_bdy_bg:focus {
  outline: none;
  box-shadow: none;
}

.acc_bg:not(.collapsed) {
  background: #34caff;
  box-shadow: none;
  color: #fff;
  border-radius: 0 !important;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  font-weight: 700;
}

.acc_bdy_bg::after,
.acc_bg:not(.collapsed)::after {
  filter: invert(1) brightness(4);
}

.acc_bdy_1 {
  background-color: #f8f8f8;
  color: #666666;
  padding: 6px 0px;
}

.acc_bdy {
  color: #fff;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.open_cat_acc {
  height: 100%;
  opacity: 1;
  visibility: visible;
  overflow: auto;
  background: #34caff !important;
}

.change_top_color {
  background: #34caff !important;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.open_cat_acc .acc_bdy_1 {
  background: #34caff !important;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.acc_bdy_bg {
  background-color: #34caff;
  color: #fff;
  padding: 10px 25px;
}

.acc_bdy_bg:not(.collapsed) {
  background: #34caff;
  box-shadow: none;
  color: #fff;
}

.input_acc_check {
  background-color: #34caff;
  outline: none;
  border: 2px solid #fff;
}

.input_acc_check:focus {
  box-shadow: none;
  outline: none;
}

.acc_input_label {
  display: block;
  text-align: left;
  color: #fff;
  font-weight: 100;
  font-size: 15px;
}

.chev_up_rotate {
  transform: rotateZ(180deg);
  transition: 0.3s ease-in-out;
  color: #fff;
}

.chev_down_rotate {
  transform: rotateZ(0deg);
  transition: 0.3s ease-in-out;
}

.acc_bdy .accordion-item {
  border: none;
}

.dropdown__list--active::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
.dropdown__list--active::-webkit-scrollbar-track {
  background: #f7f7f7;
}

/* Handle */
.dropdown__list--active::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(102, 102, 102, 0.2);
}

/* Handle on hover */
.dropdown__list--active::-webkit-scrollbar-thumb:hover {
  background: rgba(102, 102, 102, 0.3);
}

.drop_acor_m {
  text-align: left;
  font-weight: 500;
  color: #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transition: 0.3s ease-in-out;
}

.drop_ul_main {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.menu_li_active {
  background-color: #2a3072;
  color: #fff;
}

.drop_ul_active {
  height: 100%;
  overflow: auto;
  background-color: #2a3072;
}

.drop_ul_main a {
  display: block !important;
}

.drop_acor_m:hover {
  color: #34caff;
}

.drop_ul_active a:hover {
  color: #34caff !important;
}

/* dropdown */

/* header */

/* footer */
.footer {
  background-color: #2e2e2e;
  position: relative;
  z-index: 0;
}

.footer::before {
  content: "";
  background-color: #fff;
  position: absolute;
  height: 23%;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  z-index: -1;
}

.footer_banner {
  background-image: url("assets/footer_banner.png");
  width: calc(100% - 5%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  display: flex;
  align-items: center;
  position: relative;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.footer_inner_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  height: 100%;
}

.footer_inner_banner h2 {
  color: #fff;
  font-family: "Product Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 114.3%;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer_input {
  position: relative;
  width: max-content;
}

.footer_input_btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.footer_input input {
  border-radius: 16px;
  border: 1px solid #d1d1d1;
  background: transparent;
  font-size: 16px;
  color: #fff;
  font-family: "Product Sans";
  padding: 13px 18px;
  width: 400px;
}

.footer_input input::placeholder {
  color: #fff;
  font-size: 16px;
  font-family: "Product Sans";
}

.footer_banner_social {
  background-color: #fff;
  position: absolute;
  right: 10%;
  bottom: -6%;
  border-radius: 12px;
}

.footer_banner_social ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 15px 22px;
  gap: 35px;
}

.footer_banner_social ul li a {
  transition: 0.3s ease-in-out;
  color: #2e2e2e;
}

.footer_banner_social ul li a:hover {
  color: #34caff;
}

.footer_details {
  padding-top: 90px;
  padding-bottom: 50px;
  position: relative;
}

.comp_desc {
  margin-top: 40px;
  max-width: 309px;
  color: #fff;
  font-family: "Product Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.copyright {
  color: #d1d1d1;
  font-family: "Product Sans";
  margin-top: 0;
  font-size: 15px;
}

.footer_sec_head {
  color: #fff;
  font-family: "Product Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 40px;
}

.footer_links {
  list-style: none;
}

.footer_links li {
  margin-bottom: 20px;
}

.footer_links li a {
  color: #fff;
  font-family: "Product Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.footer_links li a:hover {
  color: #34caff;
  margin-left: 2px;
}

.footer_links li a svg {
  color: #2e2e2e;
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding: 8px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}

.footer_links li a svg:hover {
  background-color: #34caff;
  color: #fff;
}

.cart_btn_aadd {
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 120;
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

/* @media screen and (min-width: 2200px) {
  .container-fluid {
    max-width: 1920px;
  }
  .home_page {
    max-width: 1920px;
    margin: 0 auto;
  }
  .footer_banner {
    max-width: 1920px;
    margin: 0 auto;
  }
} */
@media screen and (min-width: 2000px) {
  .drop_acor_m,
  .nav-right > ul li a {
    font-size: 20px;
  }
}
@media screen and (max-width: 1770px) {
  /* .nav-left {
    flex: 0 1 35%;
  } */
}

@media screen and (max-width: 1700px) {
  .nav-right > ul {
    gap: 20px;
  }

  .dropdown__list-item {
    font-size: 15px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 1600px) {
  .nav-right-li {
    padding: 32px 0;
  }

  .page {
    margin-top: 90px;
  }

  .nav-colums img {
    width: 170px;
  }

  .nav-left {
    gap: 25px;
    flex: 0 32%;
  }

  .search_input {
    width: 100%;
  }

  .nav-right > ul {
    gap: 20px;
  }

  .drop_acor_m,
  .nav-right > ul li a {
    font-size: 16px;
  }

  .contact_btn {
    padding: 11px 23px;
    font-size: 15px;
    border-radius: 12px;
  }

  .acc_bg {
    font-size: 15px;
  }

  .accordion-button::after {
    background-size: 17px;
    background-position: bottom;
  }

  .acc_bdy {
    padding: 0px 14px 10px 14px;
  }

  .acc_bdy_bg {
    background-color: #34caff;
    color: #fff;
    padding: 11px 20px;
  }

  .acc_bdy_1 {
    background-color: #34caff;
    padding: 6px 20px;
  }

  .acc_input_label {
    display: block;
    text-align: left;
    color: #fff;
    position: relative;
    top: 3px;
    font-weight: 400;
  }

  .footer_banner {
    width: calc(100% - 60px);
    border-radius: 0 40px 40px 0;
    min-height: 400px;
    background-position: center;
  }

  .footer_inner_banner h2 {
    font-size: 35px;
  }

  .footer_input input {
    width: 360px;
  }
}

@media screen and (max-width: 1510px) {
  .nav-right-li a span svg {
    width: 19px;
  }

  .search_icon svg {
    position: relative;
    width: 18px;
    height: 18px;
    bottom: 2px;
  }
}

@media screen and (max-width: 1400px) {
  .search_input {
    width: 100%;
  }

  .nav-left {
    gap: 15px;
  }

  .nav-right > ul {
    gap: 15px;
  }

  .drop_acor_m,
  .nav-right > ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1330px) {
}

@media screen and (max-width: 1250px) {
  .nav-right > ul {
    gap: 6px;
  }
}

@media screen and (max-width: 1199px) {
  .dropdown__list-item {
    font-size: 14px;
    line-height: 19px;
  }

  .footer_banner {
    min-height: 300px;
  }

  .footer_inner_banner h2 {
    font-size: 30px;
  }

  .footer_input input {
    width: 300px;
  }

  .footer_details {
    padding-top: 58px;
    padding-bottom: 30px;
    position: relative;
  }

  .footer::before {
    height: 19%;
  }

  .footer_img_vs {
    width: 160px;
  }

  .comp_desc {
    margin-top: 30px;
    font-size: 16px;
  }

  .footer_sec_head {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .footer_links li a {
    font-size: 16px;
  }

  .footer_links li {
    margin-bottom: 18px;
  }

  .nav-colums {
    display: block;
    position: relative;
  }

  .search_input {
    width: 301px;
  }

  .nav-left {
    justify-content: space-between;
    margin-right: 35px;
  }

  .nav-right > ul {
    display: block;
    position: fixed;
    background-color: #2a3072;
    height: 100%;
    top: 0;
    left: -100%;
    min-width: 60%;
    line-height: normal;
    transition: all 0.5s ease;
    gap: 50px;
    z-index: 1;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow-y: scroll;
  }

  .dropdown {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    margin-top: 0;
    width: 100%;
    border-radius: 0;
    background: none;
    box-shadow: none;
  }

  .dropdown__list-item.m_xLx:after {
    display: none;
  }

  .drop_acor_m {
    color: #fff;
    justify-content: space-between;
  }

  .dropdown__list {
    display: block;
    text-align: left;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    height: 0px;
    visibility: visible;
    opacity: 0;
    overflow: hidden;
  }

  .dropdown__list--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    height: 100%;
    transition: 0.5s ease-in-out;
    overflow: auto;
    max-height: 100%;
  }

  .dropdown__list-item {
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    background-color: #2a3072;
    border-radius: 0;
    padding: 16px 0;
    color: #fff;
    font-weight: 100;
    border-bottom: 1px solid #494d79;
  }

  .dropdown__list li:last-child {
    border-bottom: 0;
  }

  .nav-right-li {
    padding: 23px 40px;
    border-bottom: 1px solid #494d79;
  }

  .nav-right > ul li .contact_btn {
    background-color: #34caff;
    padding: 14px 30px;
    width: 88%;
    margin: 0 auto;
    margin-top: 27px;
    display: block;
  }

  .nav-right > ul li a {
    display: block;
  }

  .nav-right-li span svg {
    color: #fff;
  }

  .hamburgur {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    z-index: 99;
  }

  .acc_types li {
    margin-top: 1px;
  }

  .accordion-flush .accordion-item {
    border-radius: 0px;
  }

  .acc_bdy_bg {
    padding: 7px 20px;
    font-size: 14px;
  }

  .acc_bg:not(.collapsed) {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    font-weight: 100;
  }

  .acc_bdy {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  .nav-right > ul li a {
    color: #fff;
  }

  .header {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 1090px) {
  .footer_banner {
    min-height: 300px;
  }
}

@media only screen and (max-width: 991px) {
  .container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .footer_banner {
    min-height: 270px;
  }

  .footer::before {
    height: 14%;
  }

  .footer_details {
    padding-top: 40px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .search_icon_md {
    display: block;
    cursor: pointer;
  }

  .nav-right > ul {
    min-width: 77%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .dropdown__list-item {
    padding: 11px 0;
  }

  .nav-right-li {
    padding: 20px 21px;
  }

  .search_input {
    display: none !important;
    margin-right: 17px;
  }

  .footer_inner_banner h2 {
    font-size: 25px;
  }

  .footer_banner {
    width: 100%;
    border-radius: 0;
  }

  .footer_input input {
    width: 262px;
  }

  .footer_sec_head {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .footer::before {
    height: 10%;
  }

  .footer_inner_banner h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .footer_input input {
    font-size: 14px;
    padding: 14px 14px;
    width: 250px;
  }

  .footer_banner_social ul {
    padding: 12px 28px;
    gap: 19px;
  }

  .comp_desc {
    margin-top: 25px;
    font-size: 15px;
  }

  .copyright {
    margin-top: 32px;
    font-size: 14px;
  }

  .footer_sec_head {
    font-size: 21px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .footer_links li {
    margin-bottom: 12px;
  }

  .footer_links li a {
    font-size: 15px;
  }
}
