/* whitepaper */
.whitepaper_banner_section {
  padding-top: 30px;
  padding-bottom: 80px;
  z-index: 9;
  position: relative;
}

.whitepaper_banner {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  padding: 40px 80px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.whitepaper_banner span {
  color: #34caff;
  font-size: 20px;
}

.whitepaper_banner h1 {
  color: #fff;
  font-size: 56px;
  margin-top: 20px;
}

.whitepaper_banner p {
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
  max-width: 1400px;
}

.banner_img img {
  position: absolute;
  left: 50%;
  bottom: -7%;
  width: 90%;
  z-index: 1;
  transform: translate(-50%, 0);
}

.whitepaper_bottom_section {
  background-color: #34caff;
  max-width: 630px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 9;
  padding: 20px 30px;
  border-radius: 14px;
}

.whitepaper_bottom_section p {
  color: #fff;
  font-family: "Product Sans";
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

.whitepaper_bottom_section span {
  color: #fff;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 700;
}

.paper_page_filter select {
  margin-left: 20px;
  padding: 15px 70px 15px 16px;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #0000001a;
  background-color: #fff;
  color: #666;
  font-family: "Product Sans";
  font-size: 17px;
  font-weight: 400;
}

.paper_page_filter select:first-child {
  margin-left: 0 !important;
}

.paper_page_filter {
  margin-top: 50px;
  margin-bottom: 40px;
}

.whitepaper_card_section {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding-bottom: 60px;
}

.whitepaper_card {
  border-radius: 20px;
  background: #f7f7f7;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 32%;
}

.card_details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.whitepaper_year {
  color: #2e2e2e;
  text-align: center;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.whitepaper_data {
  color: #2e2e2e;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  max-width: 396px;
  margin: auto;
  margin-bottom: 0;
}

.empty_head {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

/* whitepaper */

/* single whitepaper*/
.single_whitepaper_banner h1 {
  max-width: 850px !important;
  font-size: 40px !important;
  color: #fff !important;
  margin-bottom: 0 !important;
}

.single_whitepaper_banner {
  height: calc(62vh - 17vh) !important;
}

.whitepaper_single_content {
  padding: 50px 0;
}

.whitepaper_single_content p {
  color: #666;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 15px;
}

.whitepaper_single_content h1,
.whitepaper_single_content h2,
.whitepaper_single_content h3,
.whitepaper_single_content h4,
.whitepaper_single_content h5,
.whitepaper_single_content h6 {
  color: #000;
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.whitepaper_single_content strong {
  color: #000;
}

.whitepaper_single_content img {
  max-width: 100% !important;
  max-height: 100% !important;
}

.whitepaper_single_content ol,
.whitepaper_single_content ul {
  padding: 30px 0;
  margin-left: 15px;
}
.whitepaper_single_content ol li,
.whitepaper_single_content ul li {
  font-size: 18px;
  color: #666;
  font-weight: 400;
  margin-bottom: 15px;
}

.whitepaper_single_content a {
  color: #2e2e2e;
  text-decoration: none;
}

.white_paper_single h1 {
  max-width: 100%;
  text-align: center;
}

/* resources */

.resources_page {
  margin-top: 130px;
}

.resources_desc {
  color: #666;
  text-align: center;
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 400;
  max-width: 982px;
  margin: 15px auto 0 auto;
  line-height: 28px;
}

.resources_btns {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  height: 100%;
  gap: 15px;
}

.resources_btns button {
  width: 100%;
  background: #2a3072;
  color: #fff;
  border: 0;
  padding: 18px 18px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Product Sans";
  transition: 0.3s ease-in-out;
  outline: none;
}

.resources_btns button:hover {
  background: #34caff;
  color: #2a3072;
}

.resource_btn_active {
  background: #34caff !important;
  color: #2a3072 !important;
}

.resource_card_details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.resources_cards {
  border-radius: 20px;
  background: #f7f7f7;
  padding: 50px 50px;
  width: 100%;
}

.res_buh {
  flex: 0 49%;
}

.resources_img img {
  width: 100%;
}

.resources_img {
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resources_img_2 {
  max-width: 1000px;
  margin: auto;
  margin: 0 auto 30px auto;
}

.resource_left_content h3,
.resource_right_content h3 {
  color: #2e2e2e;
  font-family: "Product Sans";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.resource_left_content {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.resource_left_content p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  max-width: 430px;
  margin-bottom: 0;
  margin-top: 15px;
}

.resource_right_content {
  position: relative;
}

.resource_right_content p {
  margin-bottom: 15px;
}

.resource_right_content a {
  font-family: "Product Sans";
  font-size: 18px;
  font-weight: 700;
  color: #34caff;
  text-decoration: underline;
}

.resource_bottom_section {
  margin: 50px 0;
}

.resources_btn_sec a {
  width: 100%;
}

.resources_btn_sec button {
  background-color: #2e2e2e;
}

/* resources */

/* confrences */

.confrence_head {
  margin-top: 70px;
}

.confrence_top_content {
  color: #808080;
  font-size: 24px;
  line-height: 37px;
  max-width: 1440px;
  margin-top: 39px;
}

.confrenct_btm_section {
  margin: 60px 0;
}

.confrence_card {
  height: 100%;
  position: relative;
}

.confrence_card_img {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.confrence_card_img img {
  width: 100%;
  height: 100%;
  /* max-width: 677px; */
  max-height: 434px;
  aspect-ratio: 1;
}

.top_blue_line {
  width: 100%;
  background-color: #2a3072;
  position: absolute;
  height: 50px;
  top: 0;
}

.top_blue_line h2 {
  color: #fff;
  font-size: 24px;
  padding: 0 27px;
  font-weight: 600;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.confrence_card_body {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.confrence_card_logo img {
  width: auto;
  height: auto;
  max-width: 216px;
  max-height: 48px;
}

.card_body_head {
  color: #000;
  font-size: 27px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 0;
}

.confrence_card_content p {
  color: #808080;
  font-size: 18px;
  line-height: 29px;
}

.confrence_loacation {
  font-size: 20px;
  color: #000;
  font-style: normal;
  line-height: 29px;
}

.confrence_loacation span {
  font-weight: 600;
}

.navigate_link a {
  background-color: #2a3072;
  color: #fff;
  height: 40px;
  padding: 9px;
  border-radius: 20px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.navigate_link {
  padding-top: 50px;
}

@media screen and (min-width: 2000px) {
  .col_xxl {
    width: 25%;
  }
}
@media screen and (max-width: 1600px) {
  .whitepaper_banner_section {
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .whitepaper_banner {
    height: 600px;
    padding: 35px 70px;
  }

  .whitepaper_banner span {
    font-size: 18px;
  }

  .whitepaper_banner h1 {
    font-size: 50px;
    margin-top: 15px;
  }

  .whitepaper_banner p {
    font-size: 18px;
    margin-top: 10px;
  }

  .whitepaper_bottom_section p {
    font-size: 18px;
  }

  .whitepaper_bottom_section span {
    font-size: 17px;
  }

  .banner_img img {
    bottom: 0%;
  }

  .paper_page_filter {
    margin-top: 45px;
    margin-bottom: 35px;
  }

  .paper_page_filter select {
    margin-left: 15px;
    padding: 13px 63px 12px 13px;
    font-size: 16px;
  }

  .whitepaper_card {
    padding: 42px;
  }

  .whitepaper_year {
    font-size: 17px;
  }

  .whitepaper_data {
    font-size: 17px;
  }

  .whitepaper_card_section {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
  }

  .whitepaper_single_content {
    padding: 40px 0;
  }

  .whitepaper_single_content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 11px;
  }

  .whitepaper_single_content h1,
  .whitepaper_single_content h2,
  .whitepaper_single_content h3,
  .whitepaper_single_content h4,
  .whitepaper_single_content h5,
  .whitepaper_single_content h6 {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .single_whitepaper_banner {
    height: calc(60vh - 17vh) !important;
  }

  .single_whitepaper_banner h1 {
    max-width: 789px !important;
    font-size: 36px !important;
  }

  .whitepaper_single_content ol li,
  .whitepaper_single_content ul li {
    margin-bottom: 13px;
  }

  .whitepaper_single_content ol,
  .whitepaper_single_content ul {
    padding: 25px 0;
  }

  .card_details {
    gap: 12px;
  }

  .resources_desc {
    font-size: 17px;
    line-height: 26px;
  }

  .resources_btns {
    margin: 40px auto;
  }

  .resources_btns button {
    padding: 15px 15px;
    font-size: 17px;
  }

  .resources_page {
    margin-top: 120px;
  }

  .resources_cards {
    padding: 45px 45px;
  }

  .resource_bottom_section {
    margin: 40px 0;
  }

  .confrence_head {
    margin-top: 55px;
  }

  .confrence_top_content {
    font-size: 22px;
    line-height: 33px;
    max-width: 1105px;
    margin-top: 26px;
  }

  .confrenct_btm_section {
    margin: 50px 0;
  }

  .top_blue_line h2 {
    font-size: 22px;
  }
  .card_body_head {
    font-size: 25px;
  }

  .confrence_card_content p {
    font-size: 17px;
    line-height: 27px;
  }

  .confrence_loacation {
    font-size: 19px;
  }
}

@media screen and (max-width: 1400px) {
  .whitepaper_banner_section {
    padding-top: 25px;
    padding-bottom: 60px;
  }

  .whitepaper_banner {
    height: 550px;
    padding: 30px 60px;
  }

  .whitepaper_banner h1 {
    font-size: 43px;
    margin-top: 12px;
  }

  .whitepaper_banner p {
    font-size: 17px;
    margin-top: 6px;
  }

  .whitepaper_bottom_section {
    max-width: 550px;
    bottom: 5%;
    left: 50%;
    padding: 15px 25px;
  }

  .whitepaper_bottom_section p {
    font-size: 17px;
  }

  .whitepaper_bottom_section span {
    font-size: 16px;
  }

  .single_whitepaper_banner {
    height: calc(55vh - 17vh) !important;
  }

  .single_whitepaper_banner h1 {
    max-width: 676px !important;
    font-size: 32px !important;
  }

  .whitepaper_single_content {
    padding: 30px 0;
  }

  .whitepaper_single_content ol,
  .whitepaper_single_content ul {
    padding: 20px 0;
  }

  .paper_page_filter {
    margin-top: 35px;
    margin-bottom: 30px;
  }

  .paper_page_filter select {
    margin-left: 10px;
  }

  .whitepaper_card {
    flex: 0 49%;
    padding: 35px;
  }

  .card_details {
    gap: 9px;
  }

  .whitepaper_year {
    font-size: 16px;
  }

  .whitepaper_data {
    font-size: 16px;
    line-height: 25px;
  }

  .whitepaper_card_section {
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 13px;
  }

  .resources_desc {
    font-size: 16px;
    line-height: 24px;
  }

  .resources_btns button {
    padding: 15px 15px;
    font-size: 16px;
  }

  .resources_btns {
    margin: 30px auto;
  }

  .resources_cards {
    padding: 40px 40px;
  }

  .resources_page {
    margin-top: 107px;
  }

  .resource_left_content p {
    font-size: 15px;
    max-width: 299px;
    margin-top: 10px;
    line-height: 23px;
  }

  .resource_left_content h3,
  .resource_right_content h3 {
    font-size: 15px;
  }

  .resource_right_content p {
    margin-bottom: 10px;
  }

  .resource_right_content a {
    font-size: 17px;
  }

  .resource_bottom_section {
    margin: 30px 0;
  }

  .whitepaper_card_section {
    padding-bottom: 50px;
  }

  .confrence_head {
    margin-top: 40px;
  }

  .confrence_top_content {
    font-size: 20px;
    margin-top: 20px;
  }

  .confrenct_btm_section {
    margin: 40px 0;
  }

  .top_blue_line h2 {
    font-size: 20px;
  }

  .confrence_card_body {
    padding-top: 25px;
    gap: 10px;
  }

  .card_body_head {
    font-size: 23px;
  }
}

@media screen and (max-width: 1199px) {
  .whitepaper_banner_section {
    padding-bottom: 40px;
  }

  .whitepaper_bottom_section {
    max-width: 500px;
    bottom: 0%;
  }

  .whitepaper_banner {
    height: 500px;
    padding: 25px 50px;
  }

  .whitepaper_banner h1 {
    font-size: 35px;
    margin-top: 12px;
  }

  .whitepaper_banner p {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 13px;
  }

  .whitepaper_bottom_section p {
    font-size: 16px;
  }

  .whitepaper_bottom_section span {
    font-size: 15px;
  }

  .paper_page_filter {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .whitepaper_card {
    padding: 37px 25px;
  }

  .resources_desc {
    margin-top: 10px;
  }

  .resources_btns {
    margin: 25px auto;
  }

  .resources_cards {
    padding: 30px 30px;
  }

  .resource_right_content a {
    font-size: 16px;
  }

  .resource_bottom_section {
    margin: 25px 0;
  }

  .resources_page {
    margin-top: 100px;
  }

  .whitepaper_single_content p {
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  .whitepaper_single_content {
    padding: 25px 0;
  }

  .whitepaper_single_content h1,
  .whitepaper_single_content h2,
  .whitepaper_single_content h3,
  .whitepaper_single_content h4,
  .whitepaper_single_content h5,
  .whitepaper_single_content h6 {
    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 20px;
  }

  .whitepaper_single_content ul li {
    margin-bottom: 13px;
    font-size: 17px;
  }

  .single_whitepaper_banner h1 {
    max-width: 583px !important;
    font-size: 28px !important;
  }

  .confrence_head {
    margin-top: 35px;
  }

  .confrenct_btm_section {
    margin: 35px 0;
  }

  .card_body_head {
    font-size: 21px;
  }

  .confrence_card_body {
    padding-top: 20px;
    gap: 10px;
  }
}

@media screen and (max-width: 991px) {
  .whitepaper_banner {
    padding: 20px 40px;
  }

  .whitepaper_banner h1 {
    font-size: 30px;
    margin-top: 8px;
  }

  .whitepaper_single_content img {
    width: 100% !important;
    height: 100% !important;
  }

  .whitepaper_banner p {
    margin-bottom: 7px;
  }

  .resources_img img {
    width: 300px;
    margin-bottom: 25px;
  }

  .resource_bottom_section {
    margin: 20px 0;
  }

  .whitepaper_card {
    padding: 30px 25px;
  }

  .single_whitepaper_banner h1 {
    max-width: 508px !important;
    font-size: 24px !important;
  }

  .single_whitepaper_banner {
    height: calc(50vh - 17vh) !important;
  }

  .resource_card_details {
    flex-direction: column !important;
  }

  .whitepaper_card_section {
    padding-bottom: 40px;
  }

  .confrence_head {
    margin-top: 30px;
  }

  .confrence_top_content {
    font-size: 19px;
    line-height: 30px;
    margin-top: 18px;
  }

  .kuj_ihy {
    margin-top: 40px;
  }

  .confrence_card_body {
    padding-top: 17px;
  }

  .card_body_head {
    font-size: 20px;
  }

  .confrence_card_content p {
    font-size: 17px;
    line-height: 26px;
  }

  .confrence_loacation {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .whitepaper_banner span {
    font-size: 16px;
  }

  .whitepaper_banner {
    padding: 15px 30px;
  }

  .whitepaper_banner h1 {
    font-size: 28px;
    margin-top: 6px;
  }

  .whitepaper_banner p {
    font-size: 15px;
  }

  .whitepaper_card {
    flex: 0 1 100%;
    padding: 30px 20px;
  }

  .resources_desc {
    margin-top: 8px;
    font-size: 15px;
    line-height: 22px;
  }

  .resources_btns {
    margin: 20px auto;
  }

  .resources_btns button {
    padding: 11px 11px;
    font-size: 14px;
  }

  .resources_img img {
    margin-bottom: 20px;
  }

  .resources_cards {
    padding: 20px 20px;
  }

  .resource_left_content h3,
  .resource_right_content h3 {
    font-size: 14px;
  }

  .resource_left_content p {
    font-size: 14px;
    margin-top: 7px;
  }

  .resource_right_content p {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .resource_right_content a {
    font-size: 15px;
  }

  .resource_bottom_section {
    margin: 15px 0;
  }

  .whitepaper_single_content {
    padding: 20px 0;
  }

  .whitepaper_single_content ol li,
  .whitepaper_single_content ul li {
    margin-bottom: 9px;
    font-size: 16px;
  }

  .whitepaper_single_content ol,
  .whitepaper_single_content ul {
    padding: 13px 0 0 0;
  }

  .whitepaper_single_content p {
    font-size: 16px;
    line-height: 23px;
  }

  .single_whitepaper_banner h1 {
    font-size: 22px !important;
    max-width: 483px !important;
  }

  .whitepaper_card_section {
    padding-bottom: 30px;
  }

  .whitepaper_bottom_section p {
    font-size: 15px;
  }

  .confrence_head {
    margin-top: 25px;
  }

  .confrence_top_content {
    font-size: 18px;
    line-height: 28px;
    margin-top: 13px;
  }

  .confrenct_btm_section {
    margin: 25px 0;
  }

  .top_blue_line h2 {
    font-size: 18px;
  }

  .confrence_card_body {
    padding-top: 14px;
  }

  .confrence_card_body {
    padding-top: 12px;
    gap: 7px;
  }

  .kuj_ihy {
    margin-top: 30px;
  }

  .card_body_head {
    font-size: 19px;
  }

  .confrence_card_content p {
    font-size: 16px;
    line-height: 24px;
  }

  .confrence_loacation {
    font-size: 17px;
  }
}

@media only screen and (max-width: 660px) {
  .whitepaper_card_section {
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    gap: 10px;
  }

  .resources_btns {
    flex-wrap: wrap;
  }

  .resources_btns {
    margin: 15px auto;
    gap: 10px;
  }
}

@media screen and (max-width: 575px) {
  .whitepaper_banner span {
    font-size: 15px;
  }

  .whitepaper_banner h1 {
    font-size: 26px;
  }

  .whitepaper_banner p {
    font-size: 14px;
  }

  .whitepaper_card {
    padding: 15px;
  }

  .card_details {
    gap: 6px;
  }

  .paper_page_filter {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .whitepaper_card_section {
    padding-bottom: 20px;
  }

  .whitepaper_card {
    padding: 25px 15px;
  }

  .whitepaper_year {
    font-size: 14px;
  }

  .whitepaper_data {
    font-size: 15px;
    line-height: 22px;
  }

  .paper_page_filter select {
    margin-left: 8px;
    padding: 10px 47px 10px 11px;
    font-size: 14px;
  }

  .whitepaper_banner_section {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .whitepaper_banner {
    padding: 14px 18px;
  }

  .whitepaper_bottom_section {
    position: relative;
    margin-top: 10px;
    max-width: 320px;
  }

  .whitepaper_bottom_section p {
    font-size: 14px;
  }

  .resources_desc {
    margin-top: 0px;
    font-size: 14px;
    line-height: 20px;
  }

  .resources_btns button {
    border-radius: 10px;
  }

  .resource_bottom_section {
    margin: 10px 0;
  }

  .single_whitepaper_banner {
    height: calc(45vh - 17vh);
  }

  .single_whitepaper_banner h1 {
    max-width: 100% !important;
    font-size: 20px !important;
  }

  .whitepaper_single_content ol li,
  .whitepaper_single_content ul li {
    margin-bottom: 9px;
    font-size: 14px;
  }

  .whitepaper_single_content p {
    font-size: 14px;
    line-height: 22px;
  }

  .whitepaper_single_content h1,
  .whitepaper_single_content h2,
  .whitepaper_single_content h3,
  .whitepaper_single_content h4,
  .whitepaper_single_content h5,
  .whitepaper_single_content h6 {
    margin-top: 15px;
    margin-bottom: 13px;
    font-size: 18px;
  }

  .confrence_head {
    margin-top: 20px;
  }

  .top_blue_line h2 {
    font-size: 16px;
    padding: 0 20px;
  }

  .confrence_top_content {
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
  }

  .card_body_head {
    font-size: 17px;
    line-height: 26px;
  }

  .confrenct_btm_section {
    margin: 20px 0;
  }

  .confrence_card_content p {
    font-size: 15px;
    line-height: 23px;
  }

  .confrence_loacation {
    font-size: 16px;
    line-height: 23px;
  }

  .kuj_ihy {
    margin-top: 20px;
  }
}

@media screen and (max-width: 419px) {
  .whitepaper_banner {
    height: 100%;
  }
  .banner_img {
    display: none;
  }
}
